/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  color: rgb(136, 130, 172);
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
img{
  display: block;
  margin: 0 auto;
  height: 20%;

}

body{
  background-color: rgb(26, 27, 37);
  
}

h1{
  font-size: 15rem;
  color: rgb(78, 212, 212);
  font-family: 'Babylonica', cursive;
}

h2{
  font-size: 60px;
  font-family: 'Babylonica', cursive;
}

h3{
  font-size: 60px;
  color: rgb(136, 130, 172);
  font-family: 'Pacifico', cursive
}

h4{
  font-size: 30px;
}

.hidden{
  display: none;
}

button {
  background-color: rgb(219, 186, 114);
  color: rgb(19, 3, 3);
  font-size: 3rem;
  border: 2px solid  rgb(183, 192, 51);
}

button:hover {
  background-color: rgb(235, 195, 158);
}

img {
  width: 200px;
}

/* html {
  font-size: 62.5%;
}

body{
  background-color: rgb(27, 60, 71)
}

* {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Babylonica', cursive;
  font-size: 5rem;
  color:rgb(31, 10, 48)
}

button {
  background-color: brown;
  color: white;
  border-radius: 2%;
}

img {
  width: 200px;
  height: 320px;
}

.hidden {
  display: none;
}

h3 {
  font-family: 'Pacifico', cursive;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
