/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* html {
  font-size: 62.5%;
  box-sizing: border-box;
}
img{
  display: block;
  margin: 0 auto;
  height: 20%;

}

body{
  background-color: rgb(94, 132, 150);
  
}

h1{
  font-size: 80px;
}

h2{
  font-size: 60px;
  font-family: 'Babylonica', cursive;
}

h3{
  font-size: 60px;
  color: rgb(61, 51, 117)
}

h4{
  font-size: 30px;
}

.hidden{
  display: none;
} */

html {
  font-size: 62.5%;
}

body{
  background-color: rgb(27, 60, 71)
}

* {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Babylonica', cursive;
  font-size: 5rem;
  color:rgb(31, 10, 48)
}

button {
  background-color: brown;
  color: white;
  border-radius: 2%;
}

img {
  width: 200px;
  height: 320px;
}

.hidden {
  display: none;
}

h3 {
  font-family: 'Pacifico', cursive;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
